Repository rahul05ranjan/dhruv-cli, changes with the labels that .github/labeler.yml gives for each.
All labels: cli, docs, ci, tests, plugins

.github/labeler.yml:

# Automatically label PRs based on file paths or globs
cli:
  - 'src/**'
  - 'bin/**'
docs:
  - 'docs/**'
  - '**/*.md'
ci:
  - '.github/workflows/**'
  - '.github/ISSUE_TEMPLATE/**'
  - '.github/PULL_REQUEST_TEMPLATE.md'
  - '.github/labeler.yml'
  - '.github/auto_assign.yml'
  - '.github/contribution.yml'
  - '.github/stale.yml'
  - '.github/release-please.yml'
tests:
  - 'tests/**'
  - '**/*.test.*'
plugins:
  - 'plugins/**'

fix: update version in package.json and package-lock.json; refactor askOllama to await result directly
  package-lock.json
  package.json
  src/core/ai.ts
Labels: cli

fix(init): dynamically import node-fetch for compatibility
  src/commands/init.ts
Labels: cli

feat(types): add node-fetch type declaration and update tsconfig to include it
  .eslintignore
  node-fetch.d.ts
  tsconfig.json
Labels: none

chore(main): release 1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

fix(init): add type declaration for dynamically imported node-fetch
  src/commands/init.ts
Labels: cli

chore(main): release 1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: docs

chore: remove release-please GitHub Actions workflow
  .github/workflows/release-please.yml
Labels: ci

chore: bump version to 1.1.1
  package.json
Labels: none

fix(docs): update installation command to include scope in README and index.html chore(package): bump version to 1.1.2
  README.md
  docs/index.html
  package.json
Labels: docs

deploy: 5a32b813c204380d74b3c38db2ec843f2259ba12
  index.html
Labels: none

fix: update version to 1.1.3 and improve streaming response handling in askOllama function
  package.json
  src/core/ai.ts
Labels: cli
